@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

body{
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url('/public/images/background.webp');
}
.container{
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;

}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}